# MySQL with Pyhton Connection

### Importing Library

In [1]:
import mysql.connector as connect

### Connecting to the MySQL Server

In [2]:
# To perform querriess on he databse we have to mention database name
mydb = connect.connect(
    host="localhost",
    user="root",
    passwd="Nitesh@2804"
)

In [3]:
mycursor = mydb.cursor()

mycursor.execute("show databases")

for i in mycursor:
    print(i)

('abc_company',)
('fruit_sales',)
('information_schema',)
('mysql',)
('performance_schema',)
('rna_bank_db',)

In [4]:
# To perform querriess on he databse we have to mention database name
mydb = connect.connect(
    host="localhost",
    user="root",
    passwd="Nitesh@2804",
    database="abc_company"
)

In [5]:
mycursor = mydb.cursor()

mycursor.execute("Select * from employees")

for i in mycursor:
    print(i)

(101, 'Steven', 'Cohen', 1000)
(102, 'Edwin', 'Thomas', 1500)
(103, 'Harry', 'Potter', 2000)
(104, 'Steven', 'Potter', 4000)
(105, 'Edwin', 'Potter', 5000)
(106, 'Harry', 'Thomas', 6000)
(107, 'Joe', 'Biden', 7000)
(108, 'Chris', 'Potter', 8000)
(109, 'Joshep', 'Jhonson', 9000)
(110, 'Liam', 'Potter', 10000)
(111, 'Haldte', 'Kildsa', 11000)
(112, 'Ash', 'Davideng', 12000)
(113, 'Idwin', 'Ideng', 13000)
(114, 'Overn', 'Mancheg', 14000)
(115, 'Ureino', 'Fangh', 15000)

In [6]:
mycursor = mydb.cursor()
mycursor.execute("Select * from employees where salary > 2000")

for i in mycursor:
    print(i)

(104, 'Steven', 'Potter', 4000)
(105, 'Edwin', 'Potter', 5000)
(106, 'Harry', 'Thomas', 6000)
(107, 'Joe', 'Biden', 7000)
(108, 'Chris', 'Potter', 8000)
(109, 'Joshep', 'Jhonson', 9000)
(110, 'Liam', 'Potter', 10000)
(111, 'Haldte', 'Kildsa', 11000)
(112, 'Ash', 'Davideng', 12000)
(113, 'Idwin', 'Ideng', 13000)
(114, 'Overn', 'Mancheg', 14000)
(115, 'Ureino', 'Fangh', 15000)